{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_cards.css' %}">
    <title>Lista de Tarjetas</title>
</head>
<body>
    <main>
        <h1>Mis Tarjetas</h1>
        {% if Tarjeta %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Propietario</th>
                        <th>Número</th>
                        <th>Fecha de Expiración</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in Tarjeta %}
                        <tr>
                            <td>{{ card.id }}</td>
                            <td>{{ card.cliente_id }}</td>
                            <td>{{ card.numero }}</td>
                            <td>{{ card.fecha_expiracion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tenes tarjetas creadas.</p>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="logout-button">Cerrar Sesión</a>
        {% endif %}
    </main>
</body>
</html>
