{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Préstamo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2 class="title">Solicitud de Préstamo</h2>

        <form method="post" class="loan-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="client_type">Tipo de Cliente</label>
                {{ form.client_type }}
                {% if form.client_type.errors %}
                    <div class="error-message">{{ form.client_type.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="loan_type">Tipo de Préstamo</label>
                {{ form.loan_type }}
                {% if form.loan_type.errors %}
                    <div class="error-message">{{ form.loan_type.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="start_date">Fecha de Inicio</label>
                {{ form.start_date }}
                {% if form.start_date.errors %}
                    <div class="error-message">{{ form.start_date.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="amount_requested">Monto Solicitado</label>
                {{ form.amount_requested }}
                {% if form.amount_requested.errors %}
                    <div class="error-message">{{ form.amount_requested.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn-submit">Enviar Solicitud</button>
        </form>

        <div class="login-links">
            <a href="{% url 'logout' %}" class="logout-button">Cerrar Sesión</a>
            <p>Para conocer tu historial de préstamos solicitados, visitá: </p><img class="history-icon" src="{% static 'images/history.svg' %}" alt="Icono de Historial de Préstamos" class="result-icon"><a href="{% url 'loan_history' %}" class="history-button">Historial de Préstamos</a>
        </div>
    </div>
</body>
</html>
