<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Cuenta</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
  </head>
  <body>
    <div class="form-container">
      <h2>Registro de Cliente</h2>

      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div class="message success">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        
        <div class="form-field">
            <label for="id_username">Nombre de usuario:</label>
            {{ form.username }}
            {% if form.username.errors %}
            <div class="errors">
                {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    
        <div class="form-field">
            <label for="id_password1">Contraseña:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
            <div class="errors">
                {% for error in form.password1.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    
        <div class="form-field">
            <label for="id_password2">Confirmar Contraseña:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
            <div class="errors">
                {% for error in form.password2.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    
        <div class="form-field">
            <label for="id_customer_name">Nombre:</label>
            {{ form.customer_name }}
            {% if form.customer_name.errors %}
            <div class="errors">
                {% for error in form.customer_name.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    
        <div class="form-field">
            <label for="id_customer_surname">Apellido:</label>
            {{ form.customer_surname }}
            {% if form.customer_surname.errors %}
            <div class="errors">
                {% for error in form.customer_surname.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    
        <div class="form-field">
            <label for="id_customer_dni">DNI:</label>
            {{ form.customer_dni }}
            {% if form.customer_dni.errors %}
            <div class="errors">
                {% for error in form.customer_dni.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    
        <div class="form-field">
            <label for="id_dob">Fecha de nacimiento:</label>
            {{ form.dob }}
            {% if form.dob.errors %}
            <div class="errors">
                {% for error in form.dob.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="form-field">
          <label for="id_branch_id">Sucursal:</label>
          {{ form.branch_id }}
          {% if form.branch_id.errors %}
          <div class="errors">
              {% for error in form.branch_id.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          {% endif %}
      </div>
    
        <button type="submit">Registrar</button>
    </form>
      
      <p>
        ¿Ya tienes una cuenta?
        <a href="{% url 'login' %}">Inicia sesión aquí</a>.
      </p>
    </div>

  </body>
</html>
