@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f5f7;
}

h1 {margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table thead {
  background-color: #4e2d1e;
  color: white;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e6e6e6;
}

table th {
  font-weight: bold;
}

p {
  font-size: 16px;
  margin-top: 20px;
}

.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #4e2d1e;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1000;
}

.logout-button:hover {
  background-color: #3f2518;
}