@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #000000;
  margin-bottom: 1.5rem;
}

.result-icon {
  width: 50px;
  height: auto;
}

.success-message,
.error-message {
  font-size: 18px;
  margin: 20px 0;
}

.success-message {
  background-color: #e0ffe0;
  border-left: 5px solid #52b788;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

.error-message {
  background-color: #ffe0e0;
  border-left: 5px solid #e63946;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

.success-message p,
.error-message p {
  margin: 0.5rem 0;
  font-weight: bold;
}

a {
  color: #4e2d1e;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
}

/* a:hover {
    text-decoration: underline;
} */

.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #4e2d1e;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1000;
}

.logout-button:hover {
  background-color: #3f2518;
}
